<body>
    <h1 class="display-3">Family Tree Creator</h1>
    <div class="container px-1 py-1" name="Add Character">
        <h2>Add Relationship</h2>
        <form action="{{ url_for('add_relationship') }}" method="post" class="add-entry">
            <input type="hidden" name="character1" value="{{ chosen_character.id }}">
        {% for character in characters %}
            <li class="row gy-20 justify-content-md-center">
                    <input type="hidden" name="character2" value="{{ character.id }}">
                    <input type="submit" class="btn btn-primary" value = "{{characters.name}}">
            </li>
        {% endfor %}
        </form>
        </ul>
    </div>
</body>
</html>