<div class="row fs-6" >
<form action="{{ url_for('edit_generation') }}" method="post" class="mb-1 mt-1">
<select id="generation" name="generation" class="dropdown">
  {% for generation in generation_list%}
  <option value={{generation}}>Generation {{generation}}</option>
  {% endfor %}
  </select>
  <input type="hidden" name="id" value="{{ character.id }}">
  <input type="hidden" name="tree_id" value="{{ tree.tree_id }}">
  <input class="btn btn-secondary btn-sm" type="submit" value="Edit Generation" aria-labelledby="Edit Generation">
</form>
</div>