<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Tree Creator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="static/stylesheet.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid min-vh-100 d-flex flex-column">
        <header class="row">
            <h1 class="display-3 px-3 border-bottom border-dark border-3"> <b>Family Tree Creator</b> </h1>
        </header>
        <div class="row flex-grow-1">
            <aside class="col-2">
                <div class="flex-grow-1">
                    <ul class="py-3 list-unstyled">
                        <li class="py-1">
                            <a href="">Login</a>
                        </li>
                        <li class="py-1">
                            <a href="">Create Account</a>
                        </li>
                        <li class="py-1">
                            <a href="http://127.0.0.1:5000/tree">Local Trees</a>
                        </li>
                    </ul>
                </div>
            </aside>
            <section class="col-10 px-3 py-3 bg-light border-danger">
                <b>The Family Tree Creator</b> is a tool designed to make it easy for writers or people passionate about
                family history to make aesthetically pleasing and robust visualizations for their families or the families
                of their characters. <br><br> <b>Login</b> or <b>Create an Account</b> to save your trees, or click the
                <b>Create Tree</b> button to get started experimenting!
                <h3>Create Tree</h3>

            </section>
        </div>
    </div>
</body>
</html>