<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Tree</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <div class="position-absolute top-50 start-50 translate-middle mt-1">
        <h1 class="display-3">Family Tree Creator</h1>
        <div class="container px-1 py-1" name="Add Character">
            <h2>Add Character</h2>
            <form action="{{ url_for('add_character') }}" method="post" class="add-entry">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" id="inputName" size="30" name="name">
            </form>
            {% for character in characters %}
                <form action="{{ url_for('delete_character') }}" method="post">
                    <input type="hidden" name="name" value="{{ character.name }}">
                    <dt><input type="submit" class="btn btn-primary btn-sm mb-3" value={{ "Delete" }}>
                </form>
                <form action="{{ url_for('edit_character') }}" method="post">
                    <input type="hidden" name="name" value="{{ character.name }}">
                    <dt><input type="submit" class="btn btn-primary btn-sm mb-3" value={{ "Edit" }}>
                </form>
            {% endfor %}
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
        </div>
    </div>
    <div class="container px-1 py-1" name="Characters">
        <h3>Characters</h3>
        <ul class="characters list-unstyled">
        {% for character in characters %}
            <li class="row gy-20 justify-content-md-center">
                <h6>{{ character.name }}</h6>
                <form action="{{ url_for('add_relationship') }}" method="post">
                  <input type="hidden" name="character1" value="{{character.name}}">
                  <select id="character2" name="character2">
                      {% for character2 in characters %}
                          <option>{{character2.name}}</option>
                      {% endfor %}
                      <input type="submit">
                  </select>
                </form>
            </li>
        {% else %}
            <li><em>No characters added.</em></li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>