<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block body %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-3 px-1 py-1">
                <div class="container px-1 py-1">
                    <div class="row">
                        {% include 'add_character.html' %}
                    </div>
                    {%  if characters|length > 1 %}
                        <h2>Relationship Color Legend</h2>
                        {%  for color in colors %}
                            {{ color.type }} relationship is {{ color.color }}
                            <br>
                        {% endfor %}
                        {% include 'add_relationship.html' %}
                        {% include 'show_legend.html' %}
                    {% endif %}
                </div>
                <br>
                <div class="row justify-content-md-center">
                    <h2>Characters</h2>
                </div>
                <ul class="list-unstyled">
                {% for character in characters %}
                    <li class="row gy-20 justify-content-md-center">
                        <div class="row fs-4">
                           {{ character.name }}
                            {% include 'edit_character.html' %}
                            {% include 'delete_character.html' %}
                        </div>
                        <div class="row">
                            <button class="col mb-1 mt-1 btn btn-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#relationships{{ character.id }}" aria-expanded="false" aria-controls="showRelationships">
                                Show Relationships
                            </button>
                            <div class="collapse" id="relationships{{ character.id }}">
                                <div class="well">
                                    {%  for relationship in relationships %}
                                        {%  if relationship.character1 == character.id or relationship.character2 == character.id %}
                                            <b>{{ relationship.char1_name }}</b> & <b>{{ relationship.char2_name }}</b>:
                                            <br>
                                            <i>{{ relationship.type }}</i>
                                            {% if relationship.description %}
                                                {{ relationship.description }}
                                                <br>
                                            {% endif %}
                                            <br>
                                            {% include 'delete_relationship.html' %}
                                        {% endif %}
                                    {% else %}
                                        <i>No relationships present</i>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li><em>No characters added.</em></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-9 border-start border-dark border-3 bg-light">
                    <div id="mynetwork"></div>
                       <script type="text/javascript">

                            // create an array with nodes
                            var nodes = new vis.DataSet([
                                {% for character in characters %}
                                    {id: {{ character.id }}, label: "{{ character.name }}"},
                                {% endfor %}
                            ]);

                            var edges = new vis.DataSet([

                                {% for relationship in relationships %}
                                    {% if  relationship.type == "Parent - Child" %}
                                        {from: {{ relationship.character1 }}, to: {{ relationship.character2 }}, color: {color:'blue'}},
                                    {% elif  relationship.type == "Sibling - Sibling" %}
                                        {from: {{ relationship.character1 }}, to: {{ relationship.character2 }}, color: {color:'green'}},
                                    {% elif  relationship.type == "Spouse - Spouse" %}
                                        {from: {{ relationship.character1 }}, to: {{ relationship.character2 }}, color: {color:'red'}},
                                    {% elif  relationship.type == "Partner - Partner" %}
                                        {from: {{ relationship.character1 }}, to: {{ relationship.character2 }}, color: {color:'orange'}},
                                    {% endif %}

                                {% endfor %}

                           ]);


                           // create a network
                            var container = document.getElementById('mynetwork');

                           // provide the data in the vis format
                            var data = {
                                nodes: nodes,
                                edges: edges
                            };
                            var options = {};

                           // initialize your network!
                            var network = new vis.Network(container, data, options);

                       </script>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
</html>